model/SSD.pth
static/uploads/jeon_2.jpg
static/uploads/jeon_4.jpeg
static/uploads/jeon_5.jpg
static/uploads/jeon_img3-1.png
static/uploads/jeon_img4-1.png
static/uploads/jeon_img6-1.png
static/uploads/jeong_2.jpg
static/uploads/jeong_4.jpeg
static/uploads/jeong_5.jpg
static/uploads/jeong_default.png
static/uploads/jeong_flower1-1.png
static/uploads/jeong_flower2-1.png
static/uploads/jeong_flower3-1.png
static/uploads/jeong_img4-1.png
static/uploads/wjddus_2.jpg
static/uploads/wjddus_4.jpeg
static/uploads/wjddus_5.jpg
static/uploads/wjddus_flower1-1.png
static/uploads/wjddus_flower2-1.png
static/uploads/wjddus_flower3-1.png
