
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.ladingpage-sJQ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-1c7z-7Te {
    margin-right: 3.5rem;
    width: calc(100% - 3.5rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-cdyz-AKS {
      padding: 28.9rem 0;
      font-weight: 500;
      letter-spacing: -2.8rem;
      white-space: nowrap;
      background-color: rgba(217, 217, 217, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      width: 14rem;
      color: #000000;
      box-sizing: border-box;
      height: 760.5rem;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 14rem;
      line-height: 1;
    }
    .auto-group-eyha-XJQ {
      width: 155.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .banner-UDe {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-5ths-ECp {
          margin: 0rem 15.8rem 17.562rem 3rem;
          width: calc(100% - 18.8002rem);
          height: 3.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-ca1n-j9a {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 86.9rem 0.8rem 0rem;

            .service-QQ8 {
              letter-spacing: 0.06rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 5rem;
              font-weight: 500;
              line-height: 1.3;
              font-size: 1.5rem;
              color: #000000;
            }
            .about-us-6Xr {
              font-size: 1.5rem;
              letter-spacing: 0.06rem;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 5.1rem;
              font-weight: 500;
              line-height: 1.3;
              flex-shrink: 0;
            }
            .contact-pTr {
              margin-right: 5.1999rem;
              line-height: 1.3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 500;
              letter-spacing: 0.06rem;
              color: #000000;
            }
            .login-LSC {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3;
              letter-spacing: 0.06rem;
              color: #000000;
            }
          }
          .demorequestbtn-sh2 {
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            height: 100%;
            white-space: nowrap;
            align-items: center;
            border-radius: 3rem;
            line-height: 1.3;
            letter-spacing: 0.06rem;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            width: 12.4rem;
            font-size: 1.5rem;
            font-weight: 500;
            background-color: #d25c5c;
          }
        }
        .item-0-1-9uS {
          height: 0.3312rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 155.3rem;
        }
      }
      .auto-group-deyn-g8g {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.0066rem;
        width: 100%;

        .frstlndng-zfA {
          width: calc(100% - 0rem);
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 0rem;
          box-sizing: border-box;
          padding: 36.4rem 0rem 48.2rem 11.2rem;
          height: 133.9rem;

          .fisrtlandingsite-v32 {
            width: 172.3rem;
            height: 100%;

            .auto-group-9b7w-rxG {
              margin-bottom: 0.4rem;
              width: 100%;
              height: 42.3rem;
              position: relative;

              .real-recognize-real-D28 {
                top: 12.3rem;
                font-weight: 600;
                letter-spacing: -5rem;
                color: #e3cece;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                left: 0;
                height: 30rem;
                position: absolute;
                font-size: 30rem;
                line-height: 1;
                width: 172.3rem;
              }
              .real-recognize-real-ttx {
                position: absolute;
                line-height: 1;
                letter-spacing: -0.4rem;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                width: 44.7rem;
                height: 29.7rem;
                font-size: 9.9rem;
                font-weight: 600;
                left: 3.5rem;
                top: 0;
              }
            }
            .r-we-make-the-next-generation-of-artificial-intelligence-that-can-detect-fake-profile-pictures-1Ct {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              margin-left: 3.5rem;
              max-width: 62rem;
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.088rem;
            }
          }
        }
        .frame-2-G8p {
          align-items: flex-end;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          overflow: hidden;
          width: calc(100% - 0rem);
          position: relative;
          display: flex;
          margin: 0rem 0rem 0.2rem 0rem;
          padding-bottom: 21.8rem;

          .item-1-2-b4c {
            margin-bottom: 3rem;
            width: 155.3rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-gxks-Xix {
            width: 153.3rem;
            height: 109.1rem;
            position: relative;
            flex-shrink: 0;

            .use-3r-better-user-experience-faG {
              left: 0;
              font-size: 4.6rem;
              font-weight: 500;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              width: 33.3rem;
              height: 9.2rem;
              position: absolute;
              top: 0;
              text-transform: capitalize;
            }
            .img-ahE {
              position: absolute;
              left: 15.3rem;
              top: 0;
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 138rem;
              height: 109.1rem;

              .r-detects-eliminate-fake-ai-generated-profilesmake-clean-service-with-us-Wat {
                font-family: Roboto, 'Source Sans Pro';
                max-width: 57.2rem;
                font-size: 2.4rem;
                line-height: 1.2999999523;
                color: rgba(18, 17, 57, 0.7400000095);
                flex-shrink: 0;
                margin: 0rem 0rem 20.7rem 20.2rem;
                font-weight: 400;
                letter-spacing: 0.096rem;
              }
              .image-8-Xkt {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:000a919c14668dfb497485216bf2a1862c08d858');
                flex-shrink: 0;
                width: 100%;
                height: 82.1rem;
                background-size: 100% 100%;
              }
            }
          }
        }
        .frame-3-EvC {
          border-top: solid 0.2rem #000000;
          flex-shrink: 0;
          margin: 0rem 0rem 11.8rem 0rem;
          box-sizing: border-box;
          height: 122.5rem;
          overflow: hidden;
          padding-top: 0.2rem;
          width: calc(100% - 0rem);
          position: relative;

          .auto-group-kgsc-AJ4 {
            box-sizing: border-box;
            padding: 2.6rem 0rem 0rem 2rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .designed-for-your-application-hHz {
              margin-bottom: 9.4rem;
              max-width: 37.8rem;
              font-size: 4.6rem;
              font-weight: 500;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              line-height: 1;
              text-transform: capitalize;
              flex-shrink: 0;
            }
            .imgslidesection-1pU {
              width: 104.5rem;
              height: 101.1rem;
              background-color: #d9d9d9;
              flex-shrink: 0;
              margin-left: 48.8rem;
            }
          }
        }
        .frame-4-uQ4 {
          width: calc(100% - 0rem);
          position: relative;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.2rem;
          flex-direction: column;
          margin-right: 0rem;
          overflow: hidden;

          .item-3-4-ESL {
            flex-shrink: 0;
            width: 100%;
            height: 0.2rem;
            background-color: #000000;
          }
          .auto-group-nyzz-am6 {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 4.9rem 0.95rem 0rem 0.95rem;
            width: 100%;
            height: 72.2rem;
            display: flex;

            .tilte-7m2 {
              height: 7.7rem;
              position: relative;
              flex-shrink: 0;
              margin-bottom: 11.9rem;
              width: 32.35rem;

              .reasons-for-3r-rTi {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                width: 32.3rem;
                height: 4.6rem;
                font-weight: 500;
                line-height: 1;
                text-transform: capitalize;
                position: absolute;
                left: 0.05rem;
                top: 3.1rem;
                font-size: 4.6rem;
                white-space: nowrap;
              }
              .about-3r-ZN8 {
                left: 0;
                font-weight: 400;
                width: 10.6rem;
                height: 3.2rem;
                position: absolute;
                top: 0;
                text-align: center;
                font-size: 2.4rem;
                line-height: 1.2999999523;
                letter-spacing: 0.096rem;
                color: rgba(18, 17, 57, 0.6999999881);
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW {
              font-size: 3.6rem;
              font-weight: 500;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 3.75rem;
              max-width: 53.2rem;
              line-height: 1.2999999788;
              letter-spacing: 0.144rem;
              flex-shrink: 0;

              .easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-0 {
                font-weight: 400;
                line-height: 1.3999999762;
                letter-spacing: 0.144rem;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 6.4rem;
              }
              .easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-1 {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.2999999788;
                letter-spacing: 0.144rem;
              }
              .easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.9499999682;
                letter-spacing: 0.144rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Roboto, 'Source Sans Pro';
              }
              .easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-3 {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.9499999682;
                letter-spacing: 0.144rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Roboto, 'Source Sans Pro';
              }
              .easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-4 {
                font-weight: 500;
                line-height: 1.2999999788;
                letter-spacing: 0.144rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Roboto, 'Source Sans Pro';
                font-size: 3.6rem;
              }
            }
          }
        }
        .frame-7-USU {
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;
          width: calc(100% - 0rem);
          overflow: hidden;
          position: relative;
          margin-right: 0rem;
          padding: 22.539rem 0rem 19.926rem 0rem;
          display: flex;
          flex-shrink: 0;

          .group-4-Bbn {
            border-radius: 2.8rem;
            flex-shrink: 0;
            margin: 0rem 5.1rem 21.994rem 0rem;
            box-sizing: border-box;
            padding-right: 0.9rem;
            width: calc(100% - 5.1rem);
            display: flex;
            align-items: center;

            .image-5-uGt {
              width: 54rem;
              height: 57.9259rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.8rem;
              flex-shrink: 0;
              margin-right: 31rem;
            }
            .r-is-modularized-so-easy-to-mount-on-your-service-dCt {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 64.3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 3.6rem;
              line-height: 1.2999999788;
              margin-top: 2.345rem;
              font-weight: 500;
              letter-spacing: 0.144rem;
              color: #000000;

              .r-is-modularized-so-easy-to-mount-on-your-service-dCt-sub-0 {
              }
              .r-is-modularized-so-easy-to-mount-on-your-service-dCt-sub-1 {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2999999788;
                letter-spacing: 0.144rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .group-5-upc {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.043rem 27.977rem 3rem;
            width: calc(100% - 3.0434rem);
            display: flex;

            .detects-more-than-a-face-such-as-emojis-and-more-EM6 {
              max-width: 50.6rem;
              display: flex;
              line-height: 1.2999999788;
              color: #000000;
              margin: 0rem 10.4rem 0.006rem 0rem;
              justify-content: center;
              font-size: 3.6rem;
              font-weight: 500;
              letter-spacing: 0.144rem;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              align-items: center;

              .detects-more-than-a-face-such-as-emojis-and-more-EM6-sub-0 {
              }
              .detects-more-than-a-face-such-as-emojis-and-more-EM6-sub-1 {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2999999788;
                letter-spacing: 0.144rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .image-6-RK6 {
              width: 91.2566rem;
              height: 57.388rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-6-MCk {
            display: flex;
            align-items: center;
            border-radius: 3.4rem;
            flex-shrink: 0;
            margin-right: 14.7rem;
            box-sizing: border-box;
            padding-right: 2.8rem;
            width: calc(100% - 14.7rem);

            .image-7-sgt {
              flex-shrink: 0;
              margin-right: 29.1rem;
              width: 52.2rem;
              height: 54.5506rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 3.4rem;
            }
            .customize-it-to-your-service-3r-offer-model-customization-zmW {
              font-size: 3.6rem;
              line-height: 1.2999999788;
              letter-spacing: 0.144rem;
              color: #000000;
              max-width: 56.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 500;

              .customize-it-to-your-service-3r-offer-model-customization-zmW-sub-0 {
              }
              .customize-it-to-your-service-3r-offer-model-customization-zmW-sub-1 {
                font-weight: 400;
                line-height: 1.2999999788;
                letter-spacing: 0.144rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Poppins, 'Source Sans Pro';
                font-size: 3.6rem;
              }
            }
          }
        }
      }
    }
  }
  .frame-8-WNU {
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:000a919c14668dfb497485216bf2a1862c08d858');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 54.4rem 0rem 23.4rem 86.4rem;
    height: 133.2rem;
    background-position: center;

    .contact-ptx {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .contactus-BjW {
        padding: 2.9rem 0.372rem;
        font-weight: 600;
        line-height: 1;
        font-family: Poppins, 'Source Sans Pro';
        border-bottom: solid 0.1rem #000000;
        box-sizing: border-box;
        height: 38.3rem;
        letter-spacing: 0.2rem;
        text-transform: capitalize;
        margin-bottom: 0.8rem;
        width: 100%;
        color: #000000;
        white-space: nowrap;
        border-top: solid 0.1rem #000000;
        flex-shrink: 0;
        font-size: 8rem;
      }
      .check-our-latest-model-and-test-how-it-work-with-a-free-democontact-us-for-more-qJG {
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.08rem;
        color: #000000;
        margin: 0rem 0rem 3.9rem 0.2rem;
        font-size: 2rem;
        flex-shrink: 0;
        max-width: 33.4rem;
        font-family: Roboto, 'Source Sans Pro';
      }
      .btn-5TW {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 76.3rem 0rem 0.3rem;
        width: calc(100% - 76.6rem);
        display: flex;

        .join-us-1c4 {
          font-size: 2rem;
          line-height: 1;
          text-transform: uppercase;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.2rem;
          font-weight: 400;
          color: #000000;
        }
        .arrow-1-jY4 {
          width: 1rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0016rem;
        }
      }
    }
  }
  .lstlanding-r6t {
    width: 100%;
    height: 70.8rem;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;

    .group-12-CRe {
      width: 123.4rem;
      height: 40.3rem;
      position: absolute;
      left: 27.1rem;
      top: 11.9rem;

      .logo-vcY {
        white-space: nowrap;
        margin-bottom: 5.802rem;
        box-sizing: border-box;
        color: #ffffff;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        font-family: Roboto, 'Source Sans Pro';
        padding: 0.6rem 0rem 0.8rem 5.2rem;
        font-size: 2.2rem;
        font-weight: 500;
      }
      .auto-group-bmrg-d1A {
        margin: 0rem 0rem 5.898rem 0.2rem;
        display: flex;
        align-items: flex-start;

        .column-1-9kC {
          flex-shrink: 0;
          margin: 1.2rem 6.7rem 0rem 0rem;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;

          .title-6QY {
            margin-bottom: 0.8rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            color: #92989e;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3333333333;
            letter-spacing: 0.03rem;
          }
          .list-Dk4 {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 14.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5;
            letter-spacing: 0.03rem;
          }
        }
        .column-2-YnL {
          position: relative;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1rem 7.9rem 0rem 0rem;
          overflow: hidden;

          .title-trC {
            margin-bottom: 0.8rem;
            font-size: 1.8rem;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.3333333333;
            letter-spacing: 0.03rem;
            color: #92989e;
            flex-shrink: 0;
          }
          .list-pUx {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 12.9rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5;
            letter-spacing: 0.03rem;
          }
        }
        .column-3-AHv {
          margin: 1.2rem 11.25rem 0rem 0rem;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .title-tzc {
            font-weight: 600;
            line-height: 1.3333333333;
            letter-spacing: 0.03rem;
            margin-bottom: 0.8rem;
            font-size: 1.8rem;
            color: #92989e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .list-Rje {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 6.9rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5;
            letter-spacing: 0.03rem;
          }
        }
        .column-4-mYc {
          position: relative;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.8rem 14.75rem 0rem 0rem;
          overflow: hidden;

          .title-7Ma {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3333333333;
            letter-spacing: 0.03rem;
            color: #92989e;
            font-family: Poppins, 'Source Sans Pro';
            margin: 0rem 0rem 0.8rem 0.05rem;
            white-space: nowrap;
          }
          .list-dap {
            font-weight: 400;
            line-height: 2.5;
            letter-spacing: 0.03rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 6rem;
            font-size: 1.6rem;
          }
        }
        .newsletter-NHW {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.5rem 0rem 0rem 0.05rem;
          width: 40.1rem;
          height: 9.7767rem;
          overflow: hidden;
          position: relative;

          .title-tWk {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3333333333;
            letter-spacing: 0.03rem;
            color: #92989e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.6rem 0.05rem;
          }
          .description-che {
            max-width: 35.9rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.03rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 2.2rem;
          }
          .input-button-YbJ {
            height: 4rem;
            display: flex;
            align-items: center;
            margin-left: 0.05rem;
            width: calc(100% - 0.05rem);

            .input-field-5r8 {
              font-size: 1.6rem;
              line-height: 1.5;
              width: 27.2rem;
              overflow: hidden;
              font-weight: 400;
              letter-spacing: 0.03rem;
              color: #92989e;
              border: solid 0.1rem #b3bdc7;
              border-radius: 0.8rem;
              padding: 0.8rem 1.5rem;
              position: relative;
              background-color: #ffffff;
              flex-shrink: 0;
              margin-right: 0.8rem;
              height: 100%;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              box-sizing: border-box;
            }
            .rectangle-8px-95J {
              width: 12rem;
              align-items: center;
              border-radius: 0.8rem;
              line-height: 1.5;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              justify-content: center;
              flex-shrink: 0;
              text-align: center;
              color: #ffffff;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: 0.03rem;
              background-color: #3a86ff;
            }
          }
        }
      }
      .line-Dax {
        width: 123.2rem;
        height: 0.2rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .my-project-1-1-ZPv {
      width: 8.7rem;
      height: 7.5rem;
      position: absolute;
      left: 24.8rem;
      top: 10.3rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
