<!--제목만-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>FLASK WORLD</title>
	</head>
	<body>
		{% block message %}

		{% endblock message %}
		<header>
			<a href="{{url_for('index')}}"><p>HOME</p></a>
			{% if user=="Login" %}
			<a href="{{url_for('login')}}">Sign Up / Login</a>
			{% else %}
			<p>user: {{user}}</p>
			<a href="{{url_for('logout')}}">Logout</a>
			<a href="{{url_for('upload')}}">글 작성하기</a>
			<a href="{{url_for('upload_list')}}">글 목록 보기</a>
			{% endif %}
		</header>
		{% block contents %}

		{% endblock contents %}
	</body>
</html>