<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Demo Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}"/>
</head>
<body>
<div class="demo-page-Mig">
  <input type="checkbox" id="menuicon">
  <label for="menuicon">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <div class="sidebar">
    <div class="profile-URv">
      <div class="ellipse-1-Nfi"></div>
      <div class="name-goes-here-s6g">name goes here</div>
    </div>
    <div class="hist_list">
      <div class="text">History Gallery</div>
      <div class="container">
        <div class="images">
          <div class="imageFlex1">
            <img src="./photos/image1.jpg">
            <img src="./photos/image4.jpg">
            <img src="./photos/image7.jpg">
            <img src="./photos/image10.jpg">
            <img src="./photos/image13.jpg">
            <img src="./photos/image16.jpg">
          </div>
        </div>
        <div class="images">
          <div class="imageFlex2">
            <img src="./photos/image2.jpg">
            <img src="./photos/image5.jpg">
            <img src="./photos/image8.jpg">
            <img src="./photos/image11.jpg">
            <img src="./photos/image14.jpg">
          </div>
        </div>
        <div class="images">
          <div class="imageFlex3">
            <img src="./photos/image3.jpg">
            <img src="./photos/image6.jpg">
            <img src="./photos/image9.jpg">
            <img src="./photos/image12.jpg">
            <img src="./photos/image15.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="linebox-NSk">
    <div class="title-7QL">Try out 3R Demo</div>
    <div class="mainbox-DiG">
      <div class="auto-group-vd1z-M3n">
        <div class="auto-group-r9w8-E7a">
          <div class="group-1-8Tr">
            <div class="rectangle-1-cnL">
            </div>
            <div class="select-photo-vY8">Select Photo..</div>
          </div>
          <div class="runbtn-BU4">Run</div>
        </div>
        <div class="ErrorMain">
          <div class="ErrorBox">
            <div class="Box">
            </div>
            <div class="ErrorTxt">Error message</div>
          </div>
        </div>
      </div>
      <div class="group-5-fGk">
        <div class="pix-PTe">
        </div>
        <div class="group-3-4Xr">
          <div class="auto-group-e1hs-Yxp">result</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>