<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Landingpage</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost%3A400"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/landingpage.css')}}">
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</head>
<body>
<div class="ladingpage-sJQ">
  <div class="auto-group-1c7z-7Te">
    <div class="auto-group-cdyz-AKS">
      <a href="{{url_for('index')}}">
        <img class="Logo" src="../static/assets/webLogo.PNG" style="width: 70%; max-width: 70px; vertical-align: middle" data-aos="fade-right" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic"/>
      </a>
    </div>
    <div class="auto-group-eyha-XJQ">
      <div class="banner-UDe" id="container">
        <div class="auto-group-5ths-ECp">
          <div class="auto-group-ca1n-j9a">
            <p class="service-QQ8">Service</p>
            <p class="about-us-6Xr">About Us</p>
            <p class="contact-pTr">Contact</p>
            <p class="login-LSC">
              {% if user=="Login" %}
              <a href="{{url_for('login')}}" style="text-decoration:none;color:black;">Sign up / Login</a>
              {% else %}
              <a href="{{url_for('logout')}}" style="text-decoration:none;color:black;">Logout</a>
              {% endif %}
            </p>
          </div>
          <div class="demorequestbtn-sh2">
            <a href="{{url_for('demo')}}" style="text-decoration:none;color:black;">Request Demo</a> 
          </div>
        </div>
      </div>
      <script src="../static/js/index.js"></script>
      <!--frame group-->
      <div class="auto-group-deyn-g8g">
        <div class="frstlndng-zfA">
          <div class="fisrtlandingsite-v32">
            <div class="just-line" data-aos="fade-up" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic"></div>
            <div class="auto-group-9b7w-rxG">
              <p class="real-recognize-real-D28" data-aos="fade-up" data-aos-once="false" data-aos-duration="1700" data-aos-easing = "Ease in-out Cubic">
              Real Recognize Real
              <br/>

              </p>
              <p class="real-recognize-real-ttx" data-aos="fade-up" data-aos-once="false" data-aos-duration="2000" data-aos-easing = "Ease in-out Cubic">
              Real Recognize Real
              <br/>

              </p>
            </div>
            <p class="r-we-make-the-next-generation-of-artificial-intelligence-that-can-detect-fake-profile-pictures-1Ct">3R ::: We make the next generation of Artificial Intelligence that can detect fake profile pictures.</p>
          </div>
        </div>
        <div class="frame-2-G8p" data-aos="fade-right" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic">
          <!--        1-2 line -->
          <img class="item-1-2-b4c" src="REPLACE_IMAGE:318:2633"/>
          <div class="auto-group-gxks-Xix">
            <p class="use-3r-better-user-experience-faG">
            Use 3R, </br>better
            <br/>
            user Experience
            </p>
            <div class="img-ahE">
              <p class="r-detects-eliminate-fake-ai-generated-profilesmake-clean-service-with-us-Wat">
              3R detects &amp; eliminate fake AI generated profiles.
              <br/>
              Make clean service with us!
              <br/>

              </p>
              <div class="image-8-Xkt">
              </div>
            </div>
          </div>
        </div>
        <div class="frame-3-EvC" data-aos="fade-right" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic">
          <div class="auto-group-kgsc-AJ4">
            <p class="designed-for-your-application-hHz">designed for Your application</p>
<!--            <div class="imgslidesection-1pU">-->
<!--              <img src="../static/assets/tinder.png" alt="pic"/>-->
<!--              <img src="../static/assets/facebook.jpg" alt="pic"/>-->
<!--              <img src="../static/assets/linkedin.jpg" alt="pic"/>-->
<!--            </div>-->
<!--            -->
            <div class="imgslidesection-1pU">
              <ul class="list">
                <li class="item">
                  <a class="link">
                    <img class="image" src="../static/assets/Dating.jpg" alt="첫 번째" />
                    <p id="img_title">Dating services</br></p>
                    <p id="img_txt">Date matching services constantly suffer from fraud and malicious users. </br>
                      With 3R, better user experience is guaranteed with certified users. </p>
                  </a>
                </li>
                <li class="item">
                  <a class="link">
                    <img class="image" src="../static/assets/facebook.jpg" alt="두 번째" />
                    <p id="img_title">SNS platforms</br></p>
                    <p id="img_txt">Fake news, propaganda, hurting comments and pictures are wide-spread by fake accounts.</br> Guard your service with 3R</p>
                  </a>
                </li>
                <li class="item">
                  <a class="link">
                    <img class="image" src="../static/assets/linkedin.jpg" alt="세 번째" />
                    <p id="img_title">Save time and money</br></p>
                    <p id="img_txt">Blocking fake profiles in job hunting services will help companies from wasting time and money</p>
                  </a>
                </li>
              </ul>
            </div>
            <script src="../static/js/app.js"></script>
          </div>
        </div>
        <div class="frame-4-uQ4" data-aos="fade-right" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic">
          <div class="item-3-4-ESL">
          </div>
          <div class="auto-group-nyzz-am6">
            <div class="tilte-7m2">
              <p class="reasons-for-3r-rTi">Reasons for 3R</p>
              <p class="about-3r-ZN8">About 3R</p>
            </div>
            <p class="easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW">
              <span class="easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-0">
              Easy to mount,
              <br/>
              Versatile
              <br/>
              Evolving 3R
              <br/>
              
              </span>
              <span class="easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-1">

              <br/>
              </span>
              <span class="easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-2">
                3R is much more than a certification engine.</span>
              <span class="easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-3">
              
              <br/>
              
              <br/>
              
              </span>
              <span class="easy-to-use-reasonable-price-and-more-3r-is-much-more-than-a-certification-engine-TTW-sub-4">
              
              <br/>
              
              </span>
            </p>
          </div>
        </div>
        <div class="frame-7-USU">
          <div class="group-4-Bbn" data-aos="fade-left" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic">
            <img class="image-5-uGt" src="../static/assets/modularization.png"/>
            <div class="r-is-modularized-so-easy-to-mount-on-your-service-dCt">
              <span class="r-is-modularized-so-easy-to-mount-on-your-service-dCt-sub-0">
              3R is [Modularized]
              <br/><span class="r-is-modularized-so-easy-to-mount-on-your-service-dCt-sub-1">So easy to mount on your service</span>

              </span>
            </div>
          </div>
          <div class="group-5-upc" data-aos="fade-right" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic">
            <div class="detects-more-than-a-face-such-as-emojis-and-more-EM6">
              <span class="detects-more-than-a-face-such-as-emojis-and-more-EM6-sub-0">
              Detects more than a face 
              <br/><span class="detects-more-than-a-face-such-as-emojis-and-more-EM6-sub-1">Such as emojis or Scenery</span>
              </span>
            </div>
            <img class="image-6-RK6" src="../static/assets/image-6.png"/>
          </div>
          <div class="group-6-MCk" data-aos="fade-left" data-aos-once="false" data-aos-duration="1200" data-aos-easing = "Ease in-out Cubic">
            <img class="image-7-sgt" src="../static/assets/image-7.png"/>
            <div class="customize-it-to-your-service-3r-offer-model-customization-zmW">
              <span class="customize-it-to-your-service-3r-offer-model-customization-zmW-sub-0">
              Customize it to your service
              <br/><span class="customize-it-to-your-service-3r-offer-model-customization-zmW-sub-1">3R offer model customization</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-8-WNU">
    <div class="contact-ptx"data-aos="fade-in" data-aos-once="false" data-aos-duration="1600" data-aos-easing = "Ease in-out Cubic">
      <div class="contactus-BjW">Contact us</div>
      <p class="check-our-latest-model-and-test-how-it-work-with-a-free-democontact-us-for-more-qJG">
      Check our latest model and
      <br/>
      Test how it work with a free demo!
      <br/>

      <br/>
      Contact us for more
      </p>
      <div class="btn-5TW">
        </br>
        </br>
        </br>
        </br>
        <a href="{{url_for('login')}}" style="text-decoration:none;color:black;">
        <p class="join-us-1c4">Join Us &nbsp ➜</p>
        <img class="arrow-1-jY4" src="../static/assets/arrow2.png"/>
        </a>
      </div>
    </div>
  </div>
  <div class="lstlanding-r6t">
    <div class="group-12-CRe">
      <div class="logo-vcY">corporation</div>
      <div class="auto-group-bmrg-d1A">
        <div class="column-1-9kC">
          <p class="title-6QY">Services</p>
          <p class="list-Dk4">
          Web Hosting
          <br/>
          Domains
          <br/>
          Premium Hosting
          <br/>
          Private Server
          <br/>
          E-mail Hosting
          </p>
        </div>
        <div class="column-2-YnL">
          <p class="title-trC">Support</p>
          <p class="list-pUx">
          Pricing Plan
          <br/>
          Documentation
          <br/>
          Guide
          <br/>
          Tutorial
          </p>
        </div>
        <div class="column-3-AHv">
          <p class="title-tzc">Company</p>
          <p class="list-Rje">
          About
          <br/>
          Blog
          <br/>
          Join Us
          <br/>
          Press
          <br/>
          Partners
          </p>
        </div>
        <div class="column-4-mYc">
          <p class="title-7Ma">Legal</p>
          <p class="list-dap">
          Claim
          <br/>
          Privacy
          <br/>
          Terms
          </p>
        </div>
        <div class="newsletter-NHW">
          <p class="title-tWk">Subcribe to our newsletter</p>
          <p class="description-che">Funding freemium long tail hypotheses first mover advantage assets ownership</p>
          <div class="input-button-YbJ">
            <div class="input-field-5r8">Your email address…</div>
            <div class="rectangle-8px-95J">Subscribe</div>
          </div>
        </div>
      </div>
      <img class="line-Dax" src="../static/assets/line.png"/>
    </div>
    <img class="my-project-1-1-ZPv" src="../static/assets/my-project-1-1.png"/>
  </div>
</div>
<script>
  AOS.init();
</script>
</body>
</html>