{% extends "new_base.html" %}


{% block message %}
{% with messages = get_flashed_messages() %}

{% if messages %}
<p>{{messages[0]}}</p>
{% endif %}
{% if labels %}
<p>{{labels}}</p>
{% endif %}
{% endwith %}
{% endblock message %}

{% block contents %}
<div class="divblock-6Tz">
    <div class="inputblock-F5z">
        <p class="subject-Cmv">Subject</p>
        <label for="file">
            <div class="imginslot-Usr">파일 업로드하기</div>
        </label>
        <input id= "file" class="imginslot-Usr" type="file" accept="image/*" onchange="setThumbnail(event);"/>

    </div>
    <div class="ctgryblock-NiL">
        <p class="subject-category-uyA">Subject Category</p>
        <div class="categoryslot-qbv">
        </div>
    </div>
    <div class="msgblock-Au6">
        <p class="message-jhJ">Message</p>
        <textarea class="msgslot-e3a">
          </textarea>
    </div>
</div>
<div class="divbtn-ZAY">
    <div class="savebtn-uEQ">Save Result</div>
    <div class="cancelbtn-xiU">Cancel</div>
    <div class="resetbtn-2TS">Reset</div>
</div>
</div>
<div class="auto-group-qteq-uGL">
    <div class="inputimg-di8">
        <div class="inputimgtmb-Z5z" id="image_container">
        </div>
    </div>
    <div class="outputimg-6Lp">
        <div class="outputimgtmb-dbe">
        </div>
    </div>
</div>
{% endblock contents %}