<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>3R Engine Tester</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
    <link rel="stylesheet" href="./styles/frame1.css"/>
</head>
<body>
{% block message %}

{% endblock message %}
<div class="frame1-HLC">
    <div class="divmain-pUY">
        <div class="auto-group-1pbv-5Yt">
            <header>
                <a href="{{url_for('index')}}" class="r-engine-tester-oUt" ><p>3R Engine Tester</p></a>
                {% block user %}

                {% endblock user %}
            </header>
            {% block contents %}

            {% endblock contents %}
        </div>
    </div>
</div>
</body>
</html>