{% extends "base.html" %}
   

{% block message %}
{% with messages = get_flashed_messages() %}

{% if messages %}
	<p>{{messages[0]}}</p>
{% endif %}
{% endwith %}
{% endblock message %}

{% block contents %}
<form action="{{url_for('upload_done')}}" method="post" enctype="multipart/form-data">
    <div class="container">
        <input type="file" name="file">
        <input type="submit" value="submit">
        {% if filename %}
            <div>
            <img src="{{filename}}">
            </div>
            <div>
                <p>{{label}} {{probability}} {{labels}}</p>
            </div>
        {% endif %}
    </div>
</form>
{% endblock contents %}